.upload-container {
      position:relative
      }

.upload-container input{
  border:1px solid #92b0b3;
  background:#f1f1f1;
  outline:2px dashed #92b0b3;
  outline-offset:-10px;
  padding:2%;
  text-align:center !important;
  width:100%
  }

.upload-container input:hover{
  background:#ddd
  }

.upload-container:before{
  position:absolute;
  bottom:50px;
  left:245px;
  content:"";
  color:#3f8188;
  font-weight:900
  }

.upload-btn{
  margin-left:300px;
  padding:7px 20px
  }

.title__container{
    width:98%;
    display: flex;
    justify-content: space-between;
}
.btn-reset{
    margin-bottom: 10px;
    background-image: url(../image/reset.svg);
    background-color: yellow;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    border: none;
}

.btn-reset:hover{
  opacity: 0.7;
}
.btn-reset__tooltip {
  display: none;
}
.scroll-body {  /*Скрол по аналогии с таблице для div*/
	max-height: 55vh;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
.thead-dark{
    position: sticky;
    top: -3px;
    background: white;
}