.b-popup{
    display:none;
    z-index: 1;
    width:20%;
    background-color: #EEE8AA;
    border-radius:5px;
    position:fixed;
    top:0px;
    margin-top: 100px
}
.b-popup-content{
    border-bottom: 3px solid #87CEEB;
}
.b-popup .b-popup-content{
    margin-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    font-weight: 900;
    font-size: 20px;
    width:100%;
    display:flex;
    justify-content: space-between;
    text-align: left;
    border-radius:5px;
}

.b-popup_message{
    margin-top: 5px;
    padding-left: 10px;
    text-align: left;
    font-weight: 700;
}

.b-popup-content_close{
    margin-right: 10px;
    background-image: url(../image/close.svg);
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    border: none;
}

.b-popup-content_close:hover, .b-popup_buttton:hover{
  opacity: 0.7;
  }
 .b-popup_buttton{
    width: 40px;
    height:40px;
    margin-right: 80px;
    border:1px solid #92b0b3;
    background: #AFEEEE;
    color: #191970;
    font-weight: 600;
 }

 .b-popup__container-button{
    width:95%;
    display:flex;
 }