{% extends 'base.html' %}
{% load static %}

{%  block header %}
<link type="text/css" href="{% static 'css/table.css' %}" rel="stylesheet" />
<style>
.table>:not(caption)>*>* {
	padding:0em;
}
td {
    width:1rem;
    height:1rem;
}

th  {
    width:1rem;
    height:1rem;
}

</style>
{% endblock %}

{% block content %}
<br>
<center>
    <form action="" method="post" enctype="multipart/form-data" style="margin-top:0%" id="meas_edit">

        <a class="tooltip-test" title="Удалить выбранные замеры">
            <button type="button" id="del-btn" style="border:1" onclick="delete_meas()"> Удалить </button></a>
        <a class="tooltip-test" title="Сохранить изменения (помеченные цветом замеры будут изменены)">
        <button type="submit" style="border:1"> Сохранить </button></a>
        <a  href="{% url 'axes' %}" style="text-decoration: none;color: #000;">
            <button type="button" style="border:1"> Назад </button></a>

        <hr style="color:#FFC501;margin-top:1%;border-width: 3p2x">

        <div class="container" style="max-width:500em">
            <div class="row">
                <div class="col-sm-4">
                    <table  class="table table-light table-sm table-bordered table-hover"
                            name="table_axes">
                        <thead class="thead-dark">
                        <tr class="table" style="text-align: center;">
                            <th><input type="checkbox" id="checkall"></th>
                            <th scope="col" style="width: 14%">Глубина</th>
                            <th scope="col" style="width: 14%">GX</th>
                            <th scope="col" style="width: 14%">GY</th>
                            <th scope="col" style="width: 14%">GZ</th>
                            <th scope="col" style="width: 14%">BX</th>
                            <th scope="col" style="width: 14%">BY</th>
                            <th scope="col" style="width: 14%">BZ</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for obj in context.data %}
                        <tr style="text-align: center;">
                            <td><input type="checkbox" class="meas" name="{{obj.id}}" value="{{obj.id}}id" onmouseover="if(isMouseDown){this.click();}"> </td>
                            <td scope="col"><input type="number" id="{{obj.id}}depth" value="{{obj.depth_dot}}" onchange="getName({{obj.id}},'depth')" step="0.00001" style="text-align: center;Border: none; outline: none;width:100%;height:100%;"></td>
                            <td scope="col"><input type="number" id="{{obj.id}}gx" value="{{obj.CX_dot}}"  onchange="getName({{obj.id}},'gx')" step="0.00001" style="text-align: center;Border: none; outline: none;width:100%;height:100%;"></td>
                            <td scope="col"><input type="number" id="{{obj.id}}gy" value="{{obj.CY_dot}}"  onchange="getName({{obj.id}},'gy')" step="0.00001" style="text-align: center;Border: none; outline: none;width:100%;height:100%;"></td>
                            <td scope="col"><input type="number" id="{{obj.id}}gz" value="{{obj.CZ_dot}}"  onchange="getName({{obj.id}},'gz')" step="0.00001" style="text-align: center;Border: none; outline: none;width:100%;height:100%;"></td>
                            <td scope="col"><input type="number" id="{{obj.id}}bx" value="{{obj.BX_dot}}"  onchange="getName({{obj.id}},'bx')" step="0.00001" style="text-align: center;Border: none; outline: none;width:100%;height:100%;"></td>
                            <td scope="col"><input type="number" id="{{obj.id}}by" value="{{obj.BY_dot}}"  onchange="getName({{obj.id}},'by')" step="0.00001" style="text-align: center;Border: none; outline: none;width:100%;height:100%;"></td>
                            <td scope="col"><input type="number" id="{{obj.id}}bz" value="{{obj.BZ_dot}}"  onchange="getName({{obj.id}},'bz')" step="0.00001" style="text-align: center;Border: none; outline: none;width:100%;height:100%;"></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-8">
                    <table  class="table table-light table-sm table-bordered table-hover"
                            name="table_calculation">
                        <thead class="thead-dark">
                        <tr class="table" style="text-align: center;">
                            <th scope="col">Gtotal</th>
                            <th scope="col">Btotal_raw</th>
                            <th scope="col">Btotal_corr</th>
                            <th scope="col">DIP_raw</th>
                            <th scope="col">DIP_corr</th>
                            <th scope="col">Зенитный угол</th>
                            <th scope="col">{{context.selected_run.section.wellbore.well_name.get_north_direction}} азимут</th>
                            <th scope="col" style="width: 30%">Комментарий</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for obj in context.data %}
                        <tr style="text-align: center;">
                            {% if obj.Gtotal < context.well.min_gtotal or obj.Gtotal > context.well.max_gtotal %}
                            <td style="background-color:red" scope="col"> {{obj.Gtotal}} </td>
                            {% else %}
                            <td scope="col"> {{obj.Gtotal}} </td>
                            {% endif %}

                            {% if obj.Btotal < context.well.min_btotal or obj.Btotal > context.well.max_btotal %}
                            <td style="background-color:red" scope="col"> {{obj.Btotal}} </td>
                            {% else %}
                            <td scope="col"> {{obj.Btotal}} </td>
                            {% endif %}

                            <td scope="col"> <input type="number" value="{{obj.Btotal_corr_dot}}" id="{{obj.id}}btotal" onchange="getName({{obj.id}},'btotal')" step="0.0000001" style="text-align:center; Border: none; outline: none; width:100%; height:100%;">   </td>

                            {% if obj.Dip < context.well.min_dip or obj.Dip > context.well.max_dip %}
                            <td style="background-color:red" scope="col"> {{obj.Dip}} </td>
                            {% else %}
                            <td scope="col"> {{obj.Dip}} </td>
                            {% endif %}

                            <td scope="col"> <input type="number" value="{{obj.DIP_corr_dot}}" id="{{obj.id}}dip" onchange="getName({{obj.id}},'dip')" step="0.0000001" style="text-align:center; Border: none; outline: none; width:100%; height:100%;"> </td>

                            <td scope="col">{{obj.Zenit}}</td>
                            <td scope="col">{{obj.Azimut}}</td>
                            <td style="padding: 0em;">
                                <textarea disabled=disabled style='text-align: center;Border: none; outline: none;width:100%; height: 15px; font-size:11px; resize: none;'
                                    onchange="put_comm({{obj.id}}, this.value);">{{obj.comment}}</textarea>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</center>

<script>
<!-- Загрузили страницу -->
window.addEventListener('DOMContentLoaded', () => {
    <!-- При загрузке открываем выбранную ранее скважину -->
    let run_id = sessionStorage.getItem("run_id");
    if (run_id != null) {
    {% if context.selected_run == 'None' %}
    window.location = window.location.href +'?run_id='+ run_id
    {% endif %}
    }

});

function getName(depth, name) {
  console.log(arguments[0], arguments[1]);

  let dep = document.getElementById(arguments[0]+'depth');
  let gx = document.getElementById(arguments[0]+'gx');
  let gy = document.getElementById(arguments[0]+'gy');
  let gz = document.getElementById(arguments[0]+'gz');
  let bx = document.getElementById(arguments[0]+'bx');
  let by = document.getElementById(arguments[0]+'by');
  let bz = document.getElementById(arguments[0]+'bz');
  let btotal = document.getElementById(arguments[0]+'btotal');
  let dip = document.getElementById(arguments[0]+'dip');

  dep.style.color ='DarkOrange';
  gx.style.color ='DarkOrange';
  gy.style.color ='DarkOrange';
  gz.style.color ='DarkOrange';
  bx.style.color ='DarkOrange';
  by.style.color ='DarkOrange';
  bz.style.color ='DarkOrange';
  btotal.style.color ='DarkOrange';
  dip.style.color ='DarkOrange';

  if (arguments[1] == 'depth') {dep.name=arguments[0]+' '+'depth'}
  if (arguments[1] == 'gx') {gx.name=arguments[0]+' '+'gx'}
  if (arguments[1] == 'gy') {gy.name=arguments[0]+' '+'gy'}
  if (arguments[1] == 'gz') {gz.name=arguments[0]+' '+'gz'}
  if (arguments[1] == 'bx') {bx.name=arguments[0]+' '+'bx'}
  if (arguments[1] == 'by') {by.name=arguments[0]+' '+'by'}
  if (arguments[1] == 'bz') {bz.name=arguments[0]+' '+'bz'}
  if (arguments[1] == 'btotal') {btotal.name=arguments[0]+' '+'btotal'}
  if (arguments[1] == 'dip') {dip.name=arguments[0]+' '+'dip'}
}




<!-- Чекбоксы для удаления замеров-->
var checkboxes=document.querySelectorAll('input.meas'),
checkall = document.getElementById('checkall');

// если отметить все checkbox, то будет отмечен и главный,
//если снять checked хотя бы с одного checkbox группы, то будет снят checked и с общего чекбокса,
for (var i = 0; i < checkboxes.length; i++) {
  checkboxes[i].onclick = function () {
  var checkedCount = document.querySelectorAll('input.meas:checked').length;
  checkall.checked = checkedCount > 0;
  checkall.indeterminate = checkedCount > 0 && checkedCount < checkboxes.length;
  }
}
//если будет поставлена/убрана галочка с основного чекбокса, то автоматом будут
//убраны/установлены все флажки второстепенных checkbox.
checkall.onclick = function () {
for (var i = 0; i < checkboxes.length; i++) {
  console.log("i " + i);
  checkboxes[i].checked = this.checked;
  }
}

<!-- Удаляем выбранные замеры-->
function delete_meas(){
    var params = new FormData(document.getElementById('meas_edit'));
    fetch('http://'+window.location.hostname+':'+window.location.port+'/axes/api/meas_del',
     { method: 'POST', body: params })
     .then(response=>response.json()).
      then(data=>{
      location.reload();
      console.log('Удалили');
      });

}


<!-- Для определения зажата ли кнопка ЛКМ-->
var isMouseDown = false;
document.body.onmousedown = function() {
  isMouseDown = true;
}
document.body.onmouseup = function() {
  isMouseDown = false;
}

</script>


{% endblock %}